@font-face {
    font-family: "Montserrat";
    font-weight: 400; 
    src: url("../fonts/montserrat-regular.woff2");
} 
@font-face {
    font-family: "Montserrat"; 
    font-weight: 700;
    src: url("../fonts/montserrat-bold.woff2");
}
@font-face {
    font-family: "Montserrat"; 
    font-weight: 600;
    src: url("../fonts/montserrat-semibold.woff2");
}
@font-face {
    font-family: "Montserrat"; 
    font-weight: 500;
    src: url("../fonts/montserrat-medium.woff2");
}

body{
    font-family: "Montserrat";    
    font-weight: 400; 
    background-image: url("../img/background-vector.svg");  
}

.container{
    max-width: 1440px;   
    background-color: #FEFEFB;
    padding: 0; 
    margin: 0 auto;
}