.logo {
    color: #FDB100;
    padding-right: 60px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 40px; 
}

.nav__list{
    color: #9196A1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

.nav__list-item{
    padding-right: 40px;
}
.nav__list-link:hover{
    color: #3A3C41;    
}

.login{
    display: block;
    color: #FDB100;
 
}
.login:hover{  
    color: #3A3C41;
}